/* --------------------ITEM DISPLAY SECTION IN MAIN */

#ItemDisplay {
  display: flex;
  justify-content: space-between;
  margin:auto;
  width: 900px;
}

#ItemDisplay div{
  width: 250px;
  height: 300px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin:auto;
  margin-top:50px;
}

#ItemDisplay img{
  margin:auto;
  max-height:200px;
  max-width:250px;
  justify-content: center;
}

#ItemDisplay h2{
  text-align:center;
}

/* --------------------RESULTS SECTION IN MAIN */

#results {
  width: 900px;
  margin:auto;
}

#results li, div{
  text-align: center;
  margin:25px;
}