/* --------------------ITEM DISPLAY SECTION IN MAIN */
main {
  display: grid;

}


#ItemDisplay {
  display: flex;
  flex-direction: column;
  margin:auto;
  width: 1200px;
}

#threeitems {
  display:flex;
  justify-content: space-between;
  height:500px;
}

#ItemOne, #ItemTwo, #ItemThree{
  width: 400px;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin:auto;
  align-items: center;
}

#threeitems img{
  margin:auto;
  max-height:400px;
  max-width:350px;
  justify-content: center;
}

#ItemDisplay h1, h2{
  text-align: center;
}

/* --------------------RESULTS SECTION IN MAIN */

#results {
  width: 900px;
  margin:auto;
}

#results li, div{
  text-align: center;
  margin:10px;
}